.resultsTable {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.resultsTable table {
  width: 100%;
  border: 1px solid #ddd;
}

.resultsTable th,
.resultsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.resultsTable th {
  background-color: #f2f2f2;
}

.resultsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.resultsTable tr:hover {
  background-color: #ddd;
}
