.resultsTable {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.resultsTable table {
  width: 100%;
  border: 1px solid #ddd;
}

.resultsTable th,
.resultsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.resultsTable th {
  background-color: #f2f2f2;
}

.resultsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.resultsTable tr:hover {
  background-color: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.notFoundTitle {
  font-size: 6rem;
  margin: 0;
}
.notFoundMessage {
  font-size: 1.5rem;
}
